{{ define "main" }}
    {{ range .Pages }}
    <article class="post">
        <header class="post__header">
            <h1><a href="{{ .Permalink }}">{{ .Title | markdownify }}</a></h1>
            <text class="post__meta" style="font-size: 14px; color: gray; margin-left:20px;">
                {{ .Params.author }},
                <span class="date">{{ .Date.Format "2 January 2006" }}</span>
                </text>
        </header>
        <section class="post__summary" style="margin-left:20px;">
            {{ .Summary }}
        </section>
    </article>
    {{ end }}
{{ end }}

{{define "aside" }}
    {{ if .Params.description }}<p>{{ .Params.description }}</p>{{ end }}
{{ end }}
